---
import Header from '../../components/en/Header.astro';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/en/Footer.astro';
import ProjectCard from '../../components/en/ProjectCard.astro';
import { projects as projectsData } from '../../data/projects';
import { preview } from 'astro';

const projects = projectsData.map(p => ({
  classes: p.classes,
  title: p.title.en,
  description: p.description.en,
  img: p.img,
  alt: p.alt,
  url: p.url,
  readme: p.readme,
  preview: p.preview,
  repo_visibility: p.repo_visibility
}));

---

<Layout lang="en" 
	title="Elena Zen Web Developer and Data Analyst" 
	description="Elena Zen Full-stack Web Developer & Data Analyst. I build intuitive digital experiences and analyze data for smart solutions. Learn more about my work!">
	<Header page="portfolio"/>

    <section id="portfolio">
            <h2>My Portfolio</h2>
            <p>Here you can find all my main projects, such as websites, web apps and other kind of works. Some of them are related to actually existing activites, while others are purely project-based. You can freely explore interfaces, and for some of them, source code is public on my <a href="https://github.com/elena563" target="_blank" class="anchor">GitHub</a>.</p></br></br>
            <div class="tabs">
                <button id="featured-btn" role="tab" class="tab active">Featured</button>
                <button id="website-btn" role="tab" class="tab">Showcase Websites</button>
                <button id="webapp-btn" role="tab" class="tab">Web Apps</button>
            </div>
            <div class="grid-container">
               <div class="work contrib featured">
                  <img src="/project_banners/banner-notonlydesk.png" alt='NOTONLYDESK coworking platform' loading="lazy"/>
                  <div class="projtext">
                    <h4>NOTONLYDESK</h4>
                    <p>NOTONLYDESK, or simply NOD, is an innovative startup that provides a flexible platform for accessing a network of coworking spaces across Italy and Europe.<br><br> 
                      I am currently collaborating with them, supporting the CTO during a key stage of their growth.  My role involves handling both frontend and backend development, creating new pages, contributing to the new admin panel, and implementing additional features.</p>
                    <a href="#"
        class="btn orange "
        target="_blank" rel="noopener">Discover</a>
                  </div>
                </div>
                {projects.map(p => <ProjectCard {...p} />)}
               
            </div>
            
    </section>

    <footer id="contacts"><Footer /></footer>
</Layout>