---
import Header from '../../components/en/Header.astro';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/en/Footer.astro';
import ProjectCard from '../../components/en/ProjectCard.astro';
import { projects as projectsData } from '../../data/projects';
import { preview } from 'astro';

const projects = projectsData.map(p => ({
  classes: p.classes,
  title: p.title.en,
  description: p.description.en,
  img: p.img,
  alt: p.alt,
  url: p.url,
  readme: p.readme,
  preview: p.preview,
  repo_visibility: p.repo_visibility
}));

---

<Layout lang="en" 
	title="Elena Zen Web Developer and Data Analyst" 
	description="Elena Zen Full-stack Web Developer & Data Analyst. I build intuitive digital experiences and analyze data for smart solutions. Learn more about my work!">
	<Header page="portfolio"/>

    <section id="portfolio">
            <h2>My Portfolio</h2>
            <p>Here you can find all my main projects, such as websites, web apps and other kind of works. Some of them are related to actually existing activites, while others are purely project-based. You can freely explore interfaces, and for some of them, source code is public on my <a href="https://github.com/elena563" target="_blank" class="anchor">GitHub</a>.</p></br></br>
            <div class="tabs">
                <button id="featured-btn" role="tab" class="tab active">Featured</button>
                <button id="website-btn" role="tab" class="tab">Showcase Websites</button>
                <button id="webapp-btn" role="tab" class="tab">Web Apps</button>
            </div>
            <div class="grid-container">
                {projects.map(p => <ProjectCard {...p} />)}
            </div>
    </section>

    <footer id="contacts"><Footer /></footer>
</Layout>