---
import Header from '../components/it/Header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/it/Footer.astro';
import ProjectCard from '../components/it/ProjectCard.astro';

const projects = [
  {
    title: "StatPilot",
    description: "Web app interattiva per analisi statistica dei dati, addestramento di modelli di machine learning, e spiegazione dei modelli",
    img: "/project_banners/banner-statpilot.png",
    alt: "statpilot web app",
    url: "https://statpilot.onrender.com/",
    readme: "https://github.com/elena563/statpilot",
	type: 'Progetto'
  },
  {
	title: "Blacklisted M3dia",
    description: "Sito web per un fotografo con una forte passione per le supercar e i motori in generale",
    img: "/project_banners/banner-blacklisted.png",
    alt: "sito web blacklisted m3dia",
    url: "https://blacklistedm3dia.com/it",
    readme: "/readme/visual-readme_bm.html",
	type: 'Sito'
  },
  {
	title: "Antonio Accardi Isteroscopia",
    description: "Sito web per un ginecologo specializzato in Isteroscopia",
    img: "/project_banners/banner-isteroscopia.png",
    alt: "sito web isteroscopia",
    url: "http://www.isteroscopia.eu/pagine/",
    readme: "/readme/README_ister.md",
	type: 'Sito'
  }
]

const reviews = [
	{
		username: "@alessandrostega",
		review: "Ottima sviluppatrice, comunicazione chiara ed efficace, sono molto soddisfatto del risultato finale."
	},
	{
		username: "@drahard",
		review: "Persona seria, preparata e professionale, in grado di comprendere subito le tue esigenze e trasformare le idee in grafica e codici. Persona polivalente in grado di affrontare la situazione a 360 gradi e risolvere tutti i problemi. Rapporto prezzo\qualità\competenza assolutamente ottimo; scelta che rifarei immediatamente, consigliata!"
	},
	{
		username:"@miriamcermelj",
		review:"Elena is very responsive and a great problem solver, creative and attentive to details. She helped me building the website with squarespace with the intergrationof the transaltions with weglot. She has excellent skills in programming. Wouldabsolutly reccomend her!",
	},
	{
		username:"@heikostribl",
		review:"Getting this done with attention to detail is a skill... and this seller has such skill. Thanks also for some valuable input. will be happy to use your services again.",
	},
	{
		username:"@mik_gia",
		review:"Ho avuto il piacere di affidarmi a Elena per risolvere alcuni problemi tecnici con il miosito web, e posso dire con certezza che è stata una scelta eccellente. Fin dal primomomento si è dimostrata disponibile, competente e incredibilmente professionale. Haindividuato rapidamente le criticità e le ha risolte con efficacia, spiegandomi ognipassaggio con chiarezza e pazienza. Grazie al suo intervento, il sito è tornato a funzionareperfettamente, con performance persino migliori di prima. Elena non solo ha le competenzetecniche, ma anche un approccio umano che fa la differenza. È raro trovare qualcuno cheunisca così bene preparazione e gentilezza. Consiglio vivamente di affidarsi a lei",
	},
]
---

<Layout lang="it" 
	title="Elena Zen Web Developer e Data Analyst" 
	description="Elena Zen Full-stack Web Developer & Data Analyst. Creo esperienze digitali intuitive e analizzo dati per soluzioni intelligenti. Scopri di più sul mio lavoro!">
	<Header />
	<main>
		<!--hero section-->
		<div class="hero">
			<div class="text">
				<div class="name">
					<h2 class="intro">La tua avventura digitale inizia <span>qui</span></h2></br>
					<p>Aiuto le aziende a crescere combinando <strong>web design</strong> all'avanguardia e <strong> insights basati sui dati</strong>. 
					Creo siti web coinvolgenti che offrono un'<strong>esperienza utente</strong> senza interruzioni, e utilizzo le analisi per guidare <strong> decisioni smart</strong>,
					aiutando così <strong>il tuo brand</strong> a progredire nel mondo digitale</p>
				</div>
				<div class="btncont">
					<a href="#contacts" rel="noopener noreferrer" class="btn violet">Contattami</a>
					<a href="#projects" rel="noopener noreferrer" class="readme">Guarda i miei progetti</a>
				</div>
			</div>
		</div>
	</main>
	<!--chi sono-->
	<section id="aboutme">
		<div>
			<div>
				<h2>Ciao! Sono Elena</h2>
				<h1>full-stack web developer • web designer • data analyst</h1>
				<div class="about-text">
					<p>Sono una web developer e analyst con grande passione e curiosità verso tutto il mondo digitale.</p>
					<p>Al momento sto studiando <strong>Statistica e Gestione delle Informazioni</strong> a Milano, e nel frattempo seguo numerosi corsi di formazione sul web.</p></br>
						<p>Progetto e sviluppo siti su misura utilizzando principalmente <strong>HTML, CSS, JavaScript e Python</strong>, insieme ad alcuni loro framework, per garantire massima personalizzazione e performance.  
						Offro anche supporto su piattaforme come WordPress, Shopify e Squarespace.</p>
				</br>
					<p>Aiuto freelance e piccoli brand a comunicare meglio online, con siti web curati e funzionali.
					</br>Il mio approccio è semplice e orientato al risultato: <span class="approach">ascolto</span>, <span class="approach">progetto</span>, <span class="approach">risolvo</span>.
					</p>
					<h4 style="margin-top: 1.5em;">I miei interessi</h4>
					<div class="interests">
						<div>
						<img src="immagini/ai-icon.svg" alt="AI icon" height="28">
						<p>AI</p>
						</div>
						<div>
						<img src="immagini/coding.svg" alt="coding icon" height="30">
						<p>Programmazione</p>
						</div>
						<div>
						<img src="immagini/binoculars-icon.svg" alt="mistero icon" height="30">
						<p>Mistero</p>
						</div>
						<div>
						<img src="immagini/book-icon.svg" alt="libri icon" height="30">
						<p>Libri</p>
						</div>
						<div>
						<img src="immagini/pen-icon.svg" alt="design icon" height="30">
						<p>Design</p>
						</div>
						<div>
						<img src="immagini/gym-icon.svg" alt="fitness icon" height="30">
						<p>Fitness</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="wrapper">
		<div class="stack">
		<img src="immagini/html.png" alt="html logo" height="70">
		<img src="immagini/css.png" alt="css logo" height="70">
		<img src="immagini/js.png" alt="javascript logo" height="70">
		<img src="immagini/Tailwind.png" alt="tailwind css logo" height="50">
		<img src="immagini/React.png" alt="reactjs logo" height="70">
		<img src="immagini/Nextjs.png" alt="nextjs" height="35">
		<img src="immagini/python.png" alt="python logo" height="70">
		<img src="immagini/flask.png" alt="flask logo" height="70">
		<img src="immagini/html.png" alt="html logo" height="70" class="duplicate">
		<img src="immagini/css.png" alt="css logo" height="70" class="duplicate">
		<img src="immagini/js.png" alt="javascript logo" height="70" class="duplicate">
		<img src="immagini/Tailwind.png" alt="tailwind css logo" height="50" class="duplicate">
		<img src="immagini/React.png" alt="reactjs logo" height="70" class="duplicate">
		<img src="immagini/Nextjs.png" alt="nextjs" height="35" class="duplicate">
		<img src="immagini/python.png" alt="python logo" height="70" class="duplicate">
		<img src="immagini/flask.png" alt="flask logo" height="70" class="duplicate">
		</div>
	</div>
	<!--servizi-->
	<section id="services">
		<h2 class="me">Cosa posso fare per te:</h2>
		<div class="swiper mySwiper1">
			<ul class="list swiper-wrapper">
				<li class="swiper-slide"><div class="product">
					<img class="icon" src="immagini/vioa-removebg.png" alt="website development" width="60em">
					<h4>Creazione Sito Web Personalizzato <br> <span class="subtitle">Porta la tua Attività Online in Modo Professionale</span></h4> 
					<p class="space">Hai un'attività e vuoi aumentare la tua <strong>presenza online</strong>?</p> 
					<p>Realizzo siti web professionali che raccontano chi sei e cosa offri. Progetto ogni sito da zero per essere veloce, responsive, ben indicizzato su Google e in linea con l'identità del tuo brand. Il tuo spazio digitale su misura.</p>
				</div></li>
				<li class="swiper-slide"><div class="product">
					<img class="icon" src="immagini/viob-removebg.png" alt="website optimisation" width="60em">
					<h4>Restyling e Ottimizzazione Sito Web <br> <span class="subtitle">Redesign Moderno, Migliori Prestazioni e SEO Avanzata</span></h4> 
					<p class="space">Il tuo sito è datato o <strong>poco efficace</strong>?</p> 
					<p>Mi occupo del restyling completo, migliorando il design, la struttura e l'esperienza utente. Ottimizzo le performance, l'adattabilità ai dispositivi mobili e la visibilità sui motori di ricerca per aumentare i risultati reali.</p>
				</div></li>
				<li class="swiper-slide"><div class="product">
					<img class="icon" src="immagini/dataan.png" alt="data analysis" width="60em">
					<h4>Analisi Statistica dei Dati di Business <br>  <span class="subtitle">Trasforma i Dati in Decisioni Strategiche</span></h4>
					<p class="space">Hai tanti dati ma non riesci a ricavarne<strong> informazioni utili</strong>?</p>
					<p>Offro un servizio di analisi statistica professionale con Python che parte dalla pulizia dei dati, passa per l'analisi e arriva alla creazione di report comprensibili per migliorare le performance della tua attività.</p>
				</div></li>
			</ul>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</section>
	<!--portfolio-->
	<section id="projects">
		<h2>I Miei Lavori e Progetti</h2>
			<div class="grid-container">
				{projects.map(p => <ProjectCard {...p} />)}
			</div>
			</br>
		<div class="container"><a href="portfolio.html" rel="noopener noreferrer" class="btn violet">Vedi di più!</a></div>
	</section>
	<div class="reviews">
            <h2>Dicono di me</h2>
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
					{reviews.map(p => 
					<div class="review swiper-slide">
						<div class="clientrev">
						<strong>{p.username}</strong>
						<img src="immagini/Fiverr-Logo.png" alt="fiverr logo" width="30px">
						</div>
						<img src="immagini/5stars.png" alt="5 stars review" height="30px">
						<p>{p.review}</p>
					</div>
					)}
                </div>
            </div>
        </div>
	<footer id="contacts">
		<div> 
			<div class="footcont">
				<div class="getintouch">
						<h2>Mettiamoci in contatto</h2>
						<p>Apri le porte alle possibilità digitali. Fai il primo passo rivolgendoti a me
							su Calendly o via email per prenotare una consulenza gratuita e progettare come possiamo dare vita alla tua visione e
							sfruttare i dati per il tuo successo. La tua avventura digitale inizia qui!</p>
					<a href="mailto:info.elenazen@gmail.com"  target="_blank" rel="noopener noreferrer" class="readme">Scrivimi una mail</a>
					<a href="https://calendly.com/info-elenazen/30min" target="_blank" rel="noopener noreferrer" class="btn violet">Prenota una chiamata gratuita</a>
				</div>
			</div>
			<Footer />
		</div>
	</footer>
</Layout>
