---
import Header from '../../components/Header.astro';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import { languages, makeT } from '../../i18n/ui';

export function getStaticPaths() {
  return languages.map(lang => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = makeT(lang);
---

<Layout lang="it" 
	title="Elena Zen Web Developer e Data Analyst" 
	description="Elena Zen Full-stack Web Developer & Data Analyst. Creo esperienze digitali intuitive e analizzo dati per soluzioni intelligenti. Scopri di più sul mio lavoro!">
	<Header page="privacy" t={t} lang={lang}/>
	<section class="policies">
		<div id="privacy-policy">
			<h2>Privacy Policy</h2>
			<div set:html={t('privacy.text')}></div>
		</div>
		<hr />

		<div id="cookie-policy">
			<h2>Cookie Policy</h2>
			<div set:html={t('cookies.text')}></div>
		</div>
	</section>
	</main>	
	<Footer t={t} lang={lang} />
</Layout>