<div class="foot">
    <div class="ftcont">
        <div>
            <div class="logo">
                <img src="/immagini/completelogonew.png" alt="Elena Zen Frontend Developer logo" height="60em">
            </div>
        </div>
        <div class="ftsubcont">  
        <div>
            <h4>Contacts</h4>
            <div class="item">
                <i class="fa-solid fa-location-dot fa-lg" style="color: #f5f5fa;"></i>
                <p>Milan - Italy</p>
            </div>
            <div class="item">
                <i class="fa-solid fa-envelope fa-lg" style="color: #f5f5fa;"></i>
                <p>info.elenazen@gmail.com</p>
            </div>
        
        </div>
        <div>
        <h4 class="socialtt">Social Networks</h4>
        <div id="social">
            <div class="icon-cont">
                <a href="https://github.com/elena563" target="_blank">
                    <iconify-icon role="img" aria-label="GitHub Profile" icon="mdi:github" width="35" height="35"  class="social-icon"></iconify-icon>
                </a>
            </div>
            <div class="icon-cont">
                <a href="https://www.linkedin.com/in/elena-zen-771388294/" target="_blank">
                    <iconify-icon role="img" aria-label="LinkedIn Profile" icon="jam:linkedin" width="26" height="26" class="social-icon"></iconify-icon>
                    
                </a>
            </div>
            <div class="icon-cont">
                <a href="https://www.freecodecamp.org/elena-zen" target="_blank">
                    <iconify-icon role="img" aria-label="FreeCodeCamp Profile" icon="simple-icons:freecodecamp" width="30" height="30" class="social-icon"></iconify-icon>
                </a>
            </div>
            <div class="icon-cont">
                <a href="https://leetcode.com/u/elena563/" target="_blank">
                    <iconify-icon role="img" aria-label="LeetCode Profile" icon="tabler:brand-leetcode" width="30" height="30" class="social-icon"></iconify-icon>
                </a>
            </div>
        </div>
    </div>  
    </div>
    </div>
</div>
</div>
<p id="cop">© 2025 Elena Zen All Rights Reserved  <a href="/en/privacy">Privacy Policy - Cookie Policy</a></p>