---
const { page } = Astro.props;
---
<header>
    <div class="navbar">
            <a href="/en"><img src="/immagini/completelogonew.png" alt="elena-zen-logo"></a>
        <nav>
            <div id="menucont">
                <ul id="menu">
                    <span style="word-spacing: normal;"><a href="/en/#aboutme">About</a></span>
                    <a href="/en/#services">Services</a>
                    <a href="/en/portfolio">Portfolio</a>
                    <a href="/en/#contacts">Contacts</a>
                </ul>
                <a class="desktop" href={page === 'portfolio' ? '/portfolio' : page === 'privacy' ? '/privacy' : '/'}><span class="emojione--flag-for-italy desktop"></span></a>
            </div>
            <div class="mobilebtn">
                <label class="ham" for="ham">
                    <input type="checkbox" id="ham" onclick="show()">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </label>
                <a href={page === 'portfolio' ? '/portfolio' : '/'} class="mobile"><span class="emojione--flag-for-italy mobile fix"></span></a>
            </div>
        </nav>
    </div>
</header>