---
const { title, description, lang } = Astro.props;
import '../assets/style.css';
---

<!doctype html>
<html lang={lang}>
	<head>
		<!-- cookiebot script -->
		<script defer is:inline id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="17c9de5b-2707-4ac0-aaa7-897642de4869" data-blockingmode="auto" type="text/javascript"></script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="/immagini/favicon192.png">
		<meta name="description" content={description}>
		<title>{title}</title>
		<link rel="alternate" hreflang="it" href="https://elenazen.it/">
		<link rel="alternate" hreflang="en" href="https://elenazen.it/en/">

		<!-- Google Analytics -->
		<script type="text/plain" data-cookieconsent="statistics" async 
		src="https://www.googletagmanager.com/gtag/js?id=G-VSB2P56YSW">
		</script>

		<script type="text/plain" data-cookieconsent="statistics" is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-VSB2P56YSW');
		</script>
		
		<!-- Swiper CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

		<!-- Swiper JS caricato subito -->
    	<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <script type="application/ld+json" is:inline>
            {
              "@context": "https://schema.org",
              "@type": "Person",
              "name": "Elena Zen",
              "url": "https://elenazen.it",
              "inLanguage": "it",
              "sameAs": [
                "https://www.linkedin.com/in/elena-zen-771388294/",
                "https://github.com/elena563",
                "https://it.fiverr.com/elena_zen?public_mode=true"
              ],
              "jobTitle": "Full-stack Web Developer & Data Analyst",
			  "image": "https://elenazen.it/immagini/elena-web.jpg",
              "worksFor": {
                "@type": "Organization",
                "name": "Freelance"
              }
            }
        </script>

	</head>
	<body>
		<slot />
		<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js" is:inline></script>
        <script src="https://kit.fontawesome.com/cc3bfee917.js" crossorigin="anonymous" is:inline></script>
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js" is:inline></script>
        <script src="/script.js" is:inline></script>
	</body>
</html>
